@*Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license at the bottom of this file.*@

@{
    ViewBag.Title = "Home Page";
}

@* Welcome message. This view is only seen if the user isn't already signed in. *@
<div id="connectContainer">
    <div class="ms-bgColor-neutralLight welcome">
        <div class="ms-fontSize-xl ms-fontColor-themePrimary">Welcome</div>
        <div class="ms-font-l">This add-in demonstrates how to connect to Microsoft Graph from an add-in.</div>
        
    </div>
    <div class="welcome-body"> 
        <p class="ms-font-xs welcome-intro">This add-in performs the following steps:</p>
       
        <ul class="ms-List ordered-list">
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">1</span>
                <span class="ms-ListItem-secondaryText">Connects to OneDrive for Business.</span>
                <div class="clearfix"></div>
            </li>
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">2</span>
                <span class="ms-ListItem-secondaryText">Lists all workbooks in OneDrive for Business.</span>
                <div class="clearfix"></div>
            </li>
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">3</span>
                <span class="ms-ListItem-secondaryText">Lists all charts in a workbook.</span>
                <div class="clearfix"></div>
            </li>
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">4</span>
                <span class="ms-ListItem-secondaryText">Inserts selected chart as an image in the slide.</span>
                <div class="clearfix"></div>
            </li>
        </ul>

       
      
    </div>
</div>

<div id="waitContainer" style="display:none">
    <div class="ms-Spinner"></div>
    <p class="ms-font-l ms-fontColor-themePrimary indentFromPaneEdge centeredText">Please complete the authentication in the pop-up window.</p>
</div>

@* Custom CSS "footer" class is fixed to the bottom of the page so it is visible even if the list of charts is scrolled. *@
<footer id="footerButton" class="footer ms-bgColor-neutralLight">
    <div class="container">

        @* Button to sign in to Office 365 *@
        <p align="center">
            <button id="loginO365PopupButton" disabled="true" class="popupButton ms-Button ms-Button--primary"><span class="ms-Button-label">Connect to OneDrive</span></button>
        </p>
    </div>
</footer>

@* Run script to open pop-up dialog in which user will sign in to Office 365. *@
@section scripts {
    <script>
        var stateKey = '@ViewBag.StateKey';
    </script>

    <script src="~/Scripts/Add-In-Home-Index.js"></script>
}

@*

    PowerPoint-Add-in-Microsoft-Graph-ASPNET-InsertChart, https://github.com/OfficeDev/PowerPoint-Add-in-Microsoft-Graph-ASPNET-InsertChart

    Copyright (c) Microsoft Corporation
    All rights reserved.

    MIT License:
    Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:

    The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*@